.top-nav {
  nav {
    @include span-columns(12 of 12);

    padding: 5px 20px;
    background-color: #000;
    color: $base-nav-font-color;

    ul {
      li {
        font-size: $base-font-size * 0.85;
      }
    }

    ul.left {
      float: left;
    }

    ul.right {
      float: right;
    }
  }
}