<div class="projects-container">
  <div class="projects-sidebar">
    <%= link_to "#" do %>
      <span>New Project</span>
    <% end %>
  </div>

  <ol class="projects-list">
    <% @projects.each do |project| %>
      <li>
        <span class="title"><%= project.title %></span>
        <span class="description"><%= project.description %></span>
        <span class="updated">Last updated on <%= project.updated_at.strftime("%b %e") %></span>
      </li>
    <% end %>
  </ol>
</div>

